    :root {
    --bg-color: rgb(000, 000, 000);
    --font-color: rgb(0, 255, 42);
    
}

body, html {
    background-color: var(--bg-color);
    padding: 0px;
    margin: 10px;
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
    color: var(--font-color);

}